@import 'tailwindcss';
@import 'tailwindcss/utilities';

/* 
  Используем директиву @theme.
  Каждая переменная — это околичное (OKLCH) значение цвета.
  Название переменных делаем с суффиксом -500, чтобы 
  совпадать с логикой классов bg-xxx-500 и text-xxx-500.
*/
@theme {
	--color-primary-500: oklch(0 0 0); /* Чёрный   (#000000) */
	--color-secondary-500: oklch(1 0 0); /* Белый    (#FFFFFF) */
	--color-gray-light-500: oklch(0.96 0.02 235); /* Светлый  (#F3F4F6) */
	--color-gray-dark-500: oklch(0.37 0.03 250); /* Тёмный   (#4B5563) */
	--color-accent-500: oklch(0.8 0.2 85); /* Жёлтый   (#EAB308) */
	--color-silver-500: oklch(0.67 0.02 265); /* Серебро  (#A8A8A8) */
}

.custom-arrow:before {
	font-size: 16px;
	color: #fff;
}

.css-1jsxt1n-control {
	height: 100% !important;
}

.loader {
	width: fit-content;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
}

.truckWrapper {
	width: 200px;
	height: 100px;
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: flex-end;
	overflow-x: hidden;
}
/* truck upper body */
.truckBody {
	width: 130px;
	height: fit-content;
	margin-bottom: 6px;
	animation: motion 1s linear infinite;
}
/* truck suspension animation*/
@keyframes motion {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(3px);
	}
	100% {
		transform: translateY(0px);
	}
}
/* truck's tires */
.truckTires {
	width: 130px;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 10px 0px 15px;
	position: absolute;
	bottom: 0;
}
.truckTires svg {
	width: 24px;
}

.road {
	width: 100%;
	height: 1.5px;
	background-color: #282828;
	position: relative;
	bottom: 0;
	align-self: flex-end;
	border-radius: 3px;
}
.road::before {
	content: '';
	position: absolute;
	width: 20px;
	height: 100%;
	background-color: #282828;
	right: -50%;
	border-radius: 3px;
	animation: roadAnimation 1.4s linear infinite;
	border-left: 10px solid white;
}
.road::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 100%;
	background-color: #282828;
	right: -65%;
	border-radius: 3px;
	animation: roadAnimation 1.4s linear infinite;
	border-left: 4px solid white;
}

.lampPost {
	position: absolute;
	bottom: 0;
	right: -90%;
	height: 90px;
	animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-350px);
	}
}
